---
import Navigation from '@components/Navigation.astro'
import { SkipLinks } from 'accessible-astro-components'
import { Icon } from 'astro-icon/components'
import {
	PATH_INICIO,
	PATH_CURSADA,
	PATH_CONTRATO_PEDAGOGICO,
	PATH_VIDEOS,
	PATH_MATERIAL,
	PATH_PERFIL,
} from '@/paths'
import { SignIn, SignOut } from 'auth-astro/components'
import { getSession } from 'auth-astro/server'
const session = await getSession(Astro.request)
---

<header>
	<SkipLinks />
	<Navigation>
		<li class="menu-item">
			<a href={PATH_INICIO}>Inicio</a>
		</li>
		<li class="menu-item">
			<a href={PATH_CURSADA}>Cursada</a>
		</li>
		<li class="menu-item">
			<a href={PATH_CONTRATO_PEDAGOGICO}>Contrato pedagógico</a>
		</li>
		<li class="menu-item has-dropdown">
			<button
				aria-haspopup="true"
				aria-expanded="false"
				>Utilidad</button
			>
			<ul class="dropdown-menu">
				<li class="submenu-item">
					<a href={PATH_MATERIAL}>Material</a>
				</li>
				<li class="submenu-item">
					<a href={PATH_VIDEOS}>Videos</a>
				</li>
				<li class="submenu-item">
					<a
						target="_blank"
						href="https://uqbar-project.github.io/website-wollok-ts/"
						>Wollok docs</a
					>
				</li>
				{
					session ? (
						<li class="submenu-item">
							<a href={PATH_PERFIL}>Mi perfil</a>
						</li>
					) : (
						<>
							<p />
						</>
					)
				}
			</ul>
			<li class="menu-item">
				{
					session ? (
						<SignOut>Cerrar secion</SignOut>
					) : (
						<SignIn provider="keycloak">Iniciar secion</SignIn>
					)
				}
			</li>
		</li>
		<li class="menu-item type-icon">
			<a
				href="https://github.com/obj1-unahur/objetos-web"
				title="Go to the GitHub page">
				<Icon name="ion:logo-github" />
			</a>
		</li>
	</Navigation>
</header>

<style lang="scss" is:global>
	@use '../assets/scss/base/outline' as *;

	header {
		.type-icon a {
			display: block;

			[data-icon] {
				height: auto;
				margin-top: -4px;
				width: 30px;

				path {
					fill: var(--action-color);
				}
			}
		}

		.btn-ingresar {
			background-color: var(--action-color);
			color: #20292c !important;
		}
	}
</style>
